
configuration {
	modi: "combi";
	combi-modi: "drun,run";
	show-icons: false;
	run-shell-command: "kitty --hold {cmd}";
	kb-row-tab: "Tab";
	kb-element-next: "";
	kb-row-select: "Control-space";
//	kb-row-tab: "";
//	kb-row-select: "Tab";
}


@theme "theme"
